#navbarColor02 > ul > li.nav-item.dropdown.show > div{
    text-align: center;
    left: -2px;
}

#navbarColor02 > ul > li:nth-child(6) > div{
        left: -11px  !important;
    padding-left: 12px;
    text-align: center;
}

#navbarColor02 > ul > li:nth-child(6) > a{
        margin-left: 18px !important;
}

a {margin-right: 20px;}


i {
   padding-right: 6px;
}
