{% extends "home/base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'autoshop/css/autoshopcustom.css' %}">{% endblock %}
{% block script %} {% endblock %}
{% block title %}-AutoShop {% endblock %}

{% block content %}


    <section>
    <div class="container">
        <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="{% static 'autoshop/images/deerwalkauto.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">DEERWALK AUTO SERVICES</h5>
      <p class="card-text">
DAS aims to be a standardized auto servicing center that caters to our customers by delivering high-quality service, parts, and repair.</p>
        <p> <i class="fas fa-phone"></i> +9779846460993</p>
    </div>
    <div class="card-footer">

          MAP &nbsp;&nbsp;        <a href="https://g.page/deerwalk-auto-services?share" target="_blank">  <i class="fas fa-map-marked-alt"></i>     </a>
          &nbsp;&nbsp;Website&nbsp;&nbsp;<a href="https://deerwalkautoservices.com/" target="_blank"> <i class="fas fa-globe"></i></a>

    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="{% static 'autoshop/images/autoclinic.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">AUTO CLINIC NEPAL</h5>
      <p class="card-text">Repairs Only Bike</p>
    <p> <i class="fas fa-phone"></i> +9779843753131</p>
    </div>

    <div class="card-footer">
  MAP &nbsp;&nbsp;        <a href="https://goo.gl/maps/LVPHsBANymDMfTUk9" target="_blank">  <i class="fas fa-map-marked-alt"></i>     </a>
    </div>
  </div>
            <div class="card">
    <img class="card-img-top" src="{% static 'autoshop/images/balajuauto.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">BALAJU AUTO WORKSHOP</h5>
      <p class="card-text">Repairs Car</p>
    <p> <i class="fas fa-phone"></i> +97714277140</p>
    </div>

    <div class="card-footer">
MAP &nbsp;&nbsp;        <a href="https://goo.gl/maps/Vhf2RQpgJhZtGoCZ7" target="_blank">  <i class="fas fa-map-marked-alt"></i>     </a>
    </div>
  </div>
            </div>
    </div>
    </section>
    <br><br>

    <section class="one">
    <div class="container">
    <div class="card-deck">
             <div class="card">
    <img class="card-img-top" src="{% static 'autoshop/images/buddhaauto.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">BUDDHA VEHICLE SERVICING CENTER</h5>
      <p class="card-text">Repairs car</p>
    <p> <i class="fas fa-phone"></i> Not AVAILABLE</p>
    </div>

    <div class="card-footer">
    MAP &nbsp;&nbsp;        <a href="https://goo.gl/maps/VyswYU9fqEK6mVYF9" target="_blank">  <i class="fas fa-map-marked-alt"></i>     </a>
    </div>
  </div>
     <div class="card">
    <img class="card-img-top" src="{% static 'autoshop/images/K.Bauto.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">K.B. AUTO WORKSHOP</h5>
      <p class="card-text">Repairs Bike</p>

        <p> <i class="fas fa-phone"></i> +97714460890</p>
    </div>
    <div class="card-footer">
   MAP &nbsp;&nbsp;        <a href="https://goo.gl/maps/TCxFJhAEso7C8Ppk8" target="_blank">  <i class="fas fa-map-marked-alt"></i>     </a>
    </div>
  </div>
     <div class="card">
    <img class="card-img-top" src="{% static 'autoshop/images/Sairauto.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">SABIR AUTO WORKSHOP</h5>
      <p class="card-text">Repairs car and bike</p>
    <p> <i class="fas fa-phone"></i>+9779841479178 </p>
    </div>
    <div class="card-footer">
          MAP &nbsp;&nbsp;        <a href="https://goo.gl/maps/FzazCkT2Suy9h6u99" target="_blank">  <i class="fas fa-map-marked-alt"></i>     </a>
    </div>
  </div>
        </div>
    </div>
    </section>
    <br><br>

    <section class="two">
    <div class="container">
     <div class="card-deck">
         <div class="card">
    <img class="card-img-top" src="{% static 'autoshop/images/Trishulmotor.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">TRISHUL MOTOR WORKSHOP</h5>
      <p class="card-text">Repairs Car</p>
    <p> <i class="fas fa-phone"></i>+9779841289235 </p>
    </div>
    <div class="card-footer">
MAP &nbsp;&nbsp;        <a href="https://goo.gl/maps/BQg2oEynZMXV1wtV7" target="_blank">  <i class="fas fa-map-marked-alt"></i>     </a>
    </div>
  </div>
     <div class="card">
    <img class="card-img-top" src="{% static 'autoshop/images/marcaauto.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">MARCA AUTO MOBILE</h5>
      <p class="card-text">Repairs Bike</p>
    <p> <i class="fas fa-phone"></i> +97714443022 </p>
    </div>
    <div class="card-footer">
MAP &nbsp;&nbsp;        <a href="https://goo.gl/maps/xgde34efocFACPyPA" target="_blank">  <i class="fas fa-map-marked-alt"></i>     </a>
    </div>
  </div>
     <div class="card">
    <img class="card-img-top" src="{% static 'autoshop/images/newbhagawati.png' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">NEW BHAGAWATI MOTOR WORKSHOP</h5>
      <p class="card-text">Repairs car</p>
    <p> <i class="fas fa-phone"></i> +9779842021214</p>
    </div>
    <div class="card-footer">
      MAP &nbsp;&nbsp;        <a href="https://goo.gl/maps/gu1aEpQXpZT2JEpP7" target="_blank">  <i class="fas fa-map-marked-alt"></i>     </a>

    </div>
  </div>
</div>
        </div>
    </section>

{% endblock %}